/* Setting variables */
:root {
  --black: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
}

/* Reseting configs and setting stardard */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--black);
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: var(--black);
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
